<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="nav_global">
        <div class="nav_global--title">
            <h1>Mascotas y Mascotas</h1>
        </div>
        <div  class="nav_global--nav">

            <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>

    <ul>

          {{#each visitas.general}}
        <li >
            <div> Nombre: {{url}}</div>
            <div>Número de visitas: {{visitas}}</div>
            <div>Última fecha de ingreso: {{fecha}} </div>
        </li>
        {{/each}}
    </ul>
</body>
</html>