<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="nav_global">
        <div class="nav_global--title">
            <h1>Mascotas y Mascotas</h1>
        </div>
        <div  class="nav_global--nav">

            <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
    <h2 class="title-admin">NÚMERO DE VISITAS POR DÍA</h2>
    <ul class="lista">

          {{#each visitas.general}}
        <li class="lista__paginas">
            <div class="primero">
                <div class="primero__nombre"><p> Nombre</p></div>
                <div class="primero__url">
                    <p>  {{url}} </p>
                </div>
            </div>
            <div class="segundo">
                <div class="segundo__visitas">
                    <p>Número de visitas:</p>
                </div>
                <div class="segundo__numero"> <p> {{visitas}}</p></div>
            </div>
            <div class="tercero" >
                <div class="tercero__fecha"> <p>Última fecha de ingreso:</p></div>
                <div class="tercero__numero"> <p> {{fecha}} </p></div>
            </div>
            
        </li>
        {{/each}}
    </ul>
</body>
</html>