<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mascotas y Mascotas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
    <div class="nav_global">
        <div class="nav_global--title">
            <h1>Mascotas y Mascotas</h1>
        </div>
        <div class="nav_global--nav">

            <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>

    <div class="banner">
        <div class="cont__blank-left"></div>
        <div class="cont__blank-cont">
            <div class="cont__blank-cont-top"></div>
            <div class="cont__blank-cont-cent">
            <h1>¡Amamos a nuestras mascotas!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, ipsa delectus numquam distinctio harum
                in! Veniam aperiam totam corrupti magni corporis quisquam quo ad rem illo animi. Expedita, atque
                ratione. </p>
            </div>
        </div>


    </div>

</body>

</html>