<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacto</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
     <div class="nav_global">
        <div class="nav_global--title">
            <h1>Mascotas y Mascotas</h1>
        </div>
        <div  class="nav_global--nav">

            <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobrenosotros">Sobre Nosotros</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>

   <div class="contacto">
       <div class="contacto__form">
    <form class="formu">
        <div class="bloque"> Nombre:<br>
  <input type="text" class="info" name="firstname"><br></div>
 
  <div class="bloque"> Apellidos:<br>
  <input type="text" class="info" name="lastname"><br></div>
 
  <div class="bloque"> Celular:<br>
  <input type="text" class="info" name="celphone"><br></div>
  
  <div class="bloque"> Mascota:<br>
  <input type="text" class="info" name="pet"></div>
  <button class="enviar">Enviar</button>
</form>
    </div>
    <div class="contacto__gato">
    </div>
</div> 
</body>
</html>