*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
.nav{
    display:flex;
    font-family: 'Poppins', sans-serif;
    color: gray;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    align-content: center;
  
  
    
}

.nav_global{
    display: flex;
    width: 100%;
    height: 5em;
    background:white;
    align-items: baseline;
    padding: 40px;
   
    &--title{
        width: 30%;
        padding-left: 140px;

    }
    &--nav{
        width: 70%;

    }
}

.nav li a{

    text-decoration: none;
    padding: 10px;
    color: black;

}
.nav li a:hover{

    background: black;
    color: white;
    
}
.banner{
    width: 100wv;
    height: 90vh;
    margin-top: 1%;
    background-color: antiquewhite;
    background-image: url("../imagenes/veteri.jpg");
    //background-image: url("./imagenes/veteri.jpg");
    display: flex;
}
.banner__perrito{
    width: 930px;
   height: 513px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../imagenes/perrito.jpg");
}

.cont__blank-left{
   width: 10%;
   height: 100%;
 //  background: red; 
}
.cont__blank-cont{
    width: 90%;
    height: 100%;
 //   background:blue; 

    &-top{
        width: 100%;
        height: 8em;
    }
    &-cent{
        width: 50%;
      //  background: red;
        height: 22em;
    }
    &-cent h1{
        font-size: 40px;
    }
    &-cent p{
        font-size: 25px;
        padding-top: 20px;
    }
 }

 .cont__aboutus{
     width: 100%;
     height: 100vh;
     display: flex;
   
     justify-content: center;
     padding-top: 50px;
 }
 .cont__aboutus h1{
  font-size: 40px; 
}
 
 .cont__aboutus p{
  font-size: 25px;
    padding-top: 30px; 
}

 .aboutus__us{
     width: 30%;
     height: 100%;
 }

 .contacto{
     display: flex;
     margin-left: 20%;
     margin-top: 3%;

     &__form{
         margin-right: 10%;
     }
     &__gato{
         width: 700px;
         height: 700px;
        background-image: url("../imagenes/gato.jpg");
        background-repeat: no-repeat;
        background-size: cover;
     }
 }
 .enviar{
     height: 40px;
     margin-top: 3%;
 }
 .formu{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    margin-left: -20%;
}
.bloque{
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.info{
    border: none;
    border-bottom: 1px solid    #2D2D2D;;
    width: 200%;
    
    align-self: center;
}
